.sidebar{
    width: 250px;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #2c3e50;
    color: white;
}

.content{
    margin-left: 250px;
    background: #ecf0f1;
    min-height: 100vh;
}

.stats-grid{
    display: flex;
}