nav{
    background-color: #131921;
    color: white;
    display: flex;
    align-items: center;
}

.dropdown{
    position: relative;
}

.dropdown:hover{
    .dropdown-content{
        display: block;
    }
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: white;
    width: 200px;
       box-shadow: 8px 6px 8px 8px rgba(0, 0, 0, 0.1);
       color: black;
       /* display: flex;
       flex-direction: column; */

       
}
/* 
.dropdown-content a{
    text-decoration: none;
    color: black;
} */