body{
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
}

.pricing-container{
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
    justify-content: center;
    flex-wrap: wrap;
}

.card{
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
   
}

.popular{
       box-shadow: 4px 4px 8px 2px rgba(0, 0, 0, 0.1);
       transform: scale(1.1);
       position: relative;
}

.badge{
    position: absolute;
    top: 4px;
    right: 6px;
    background-color: darkgray;
    padding: 4px;
    font-size: 0.8rem;
    border-radius: 8px;

}

button{
    background-color: grey;
    border-radius: 8px;
    padding: 6px 10px;
    border: none;
}

ul{
    list-style: none;
    /* padding: 0; */
}